# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.pyc
.venv/

# Rust
target/
**/*.rs.bk

# IntelliJ
.idea/
*.iml
out/
gen/

# VS Code
.vscode/

.mypy_cache
.pytest_cache

.personal